:root {
    --cream: #EEEBDD;
    --red: #810000;
    --hardred: #630000;
    --black: #1B1717;
    --off-white: #FAF8F7;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    /* font-size: 62.5%; */
    font-family: 'Zilla Slab', serif;
    background-color: var(--off-white);
}
header {
    position: relative;
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: auto;
    color: var(--cream);
    background-color: var(--hardred);
    /* background-image: linear-gradient(to right top, #001514, #003749, #22568b, #9366b5, #ff6daf); */
    text-align: center;
    border-radius: 0 0 30px 30px;
}
header h1 img {
    display: block;
    width: 70px;
    height: 70px;
    justify-self: center;
    margin: 5px auto
}
.buttom--cita-top {
    position: absolute;
    display: flex;
    min-width: 235px;
    max-width: 340px;
    height: 32px;
    justify-content: center;
    top: calc(100% - 16px);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
    background-color: var(--cream);
    border-radius: 5px;
}
.buttom--cita-top img, .buttom--cita-low img {
    margin: 5px 0;
    margin-left: 15px;
}
main {
    padding: 30px 0;
    color: var(--black);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}
.situations svg {
    min-width: 60px;
    max-width: 70px;
}
.situations p {
    margin: 10px 5px 26px;
    font-weight: lighter;
}
.precios {
    position: relative;
    min-width: 310px;
    /* max-width: 600px; */
    margin: 10px 5px;
    color: var(--off-white);
    border-radius: 15px;
    background-color: var(--black);
}
.precios__title {
    position: relative;
    top: -16px;
    display: inline-flex;
    min-width: 235px;
    max-width: 340px;
    height: 32px;
    padding: 5px 0;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background-color: var(--cream);
    border-radius: 5px;
}
.precios__table {
    margin: -5px 10px 10px 10px;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    /* background-color: #fff5; */
    /* border-radius: 10px; */
    gap: 2px;
}
.precios__table p {
    padding: 2px;
    font-weight: normal;
    background-color: #fff5;
}
.top-left {
    border-radius: 5px 0 0 0;
}
.top-rigth {
    border-radius: 0 5px 0 0;
}
.bottom-left {
    border-radius: 0 0 0 5px;
}
.bottom-rigth {
    border-radius: 0 0 5px 0;
}
.info p {
    margin: 10px;
    font-weight: lighter;
}
.footer {
    position: relative;
    padding: 16px 0 0;
    /* margin: 0; */
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    display: flex;
    place-content: center space-around;
    text-decoration: none;
    color: var(--cream);
    align-items: center;
    /* background-image: linear-gradient(to left bottom, #001514, #003749, #22568b, #9366b5, #ff6daf); */
    background-color: var(--hardred);
    border-radius: 30px 30px 0 0;
}
.buttom--cita-low {
    position: absolute;
    display: flex;
    min-width: 235px;
    max-width: 340px;
    height: 32px;
    justify-content: center;
    bottom: calc(100% - 16px);
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 400;
    color: var(--black);
    text-decoration: none;
    background-color: var(--cream);
    border-radius: 5px;
}
.footer-left ul {
    list-style: none;
    text-align: center;
}
.footer-left ul li {
    margin: 5px;
}
.footer-left a {
    text-decoration: none;
    color: var(--pink);
}
.footer-left a:hover {
    text-decoration: underline;
}