:root {
    --black: #001514;
    --gray: #2F3F3E;
    --ligthBlue: #C0FCF9;
    --pink: #FF6DAF;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    position: relative;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    color: var(--ligthBlue);
    background-image: linear-gradient(to right top, #001514, #003749, #22568b, #9366b5, #ff6daf);
    text-align: center;
}
header .logo {
    width: 50px;
}
header svg {
    width: 25px;
    margin-left: 5px;
}
header a {
    position: absolute;
    top: calc(100% - 15px);
    display: flex;
    place-items: center center;
    padding: 5px 10px;
    color: var(--pink);
    text-decoration: none;
    background-color: var(--black);
    border-radius: 5px;
}
main {
    padding: 30px 0;
    color: var(--ligthBlue);
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
}
.precios svg {
    min-width: 60px;
    max-width: 70px;
}
.footer {
    margin: 0;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    display: flex;
    place-content: center space-around;
    text-decoration: none;
    align-items: center;
    background-image: linear-gradient(to left bottom, #001514, #003749, #22568b, #9366b5, #ff6daf);
}
.footer-left ul {
    list-style: none;
    text-align: center;
}
.footer-left ul li {
    margin: 5px;
}
.footer-left a {
    text-decoration: none;
}
.footer-left a:hover {
    text-decoration: underline;
}